<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>TODO List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= date.date %></h1>
        <h1><%= date.weekday %></h1>
    </div>

    <div class="box">
        <div class="item">
            <input type="checkbox">
            <p>test</p>
        </div>

        <form action="/" method="POST">
            <input type="text" name="newTask" placeholder="Add New Task">
            <button type="submit">+</button>
        </form>
    </div>

    <footer>
        <span>JV &#169 2021</span>
    </footer>
    
</body>
</html>